body {
    /* background-color: lightgray; */
    width: 900px;
    margin: 0 auto;
}

.site-header {
    background-size: cover;
    height: 150px;
    width: 100%;
}

.site-title {
    font-size: 2em;
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.medog, .oop {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 200px;
    height: 100%;
    margin: 0px auto;
}

.lucky {
    font-family: 'Lobster', cursive;
}

.dogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
}

.dogs img {
    width: 100%;
}

.dogs img:nth-of-type(1) {
    border: 15px solid powderblue;
}

.dogs img:nth-of-type(2) {
    border: 25px solid palevioletred;
}

.dogs img:nth-of-type(3) {
    border: 15px solid papayawhip;
}

.dogs img:nth-of-type(4) {
    border: 30px solid pink;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main h1 {
    grid-column: span 2;
}

.main aside {
    grid-area: 2;
    padding: 2em;
}

.main a {
    grid-area: 3 / 2;
}

footer {
    height: 150px;
    text-align: center;
    padding: 2em;
    border-top: 2px solid black;
    margin-top: 2em;
}