{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1>Välkommen!</h1>
    <img class="medog" src="{{ asset('img/dog.jpg') }}" alt="dog">
    <p>Lite info om mig!</p>
    <p>Mitt namn är Karoline och förutom programmering gillar jag att dyka och resa. På senaste tiden har fridykning varit något jag ägnat mig åt.</p>
    <p>För att varva ner mellan pluggrundorna fördrar jag även att meditera och göra yoga.</p>
    <p>Hundar är klart mitt favoritdjur.</p>
{% endblock %}