{% extends "base.html.twig" %}

{% block title %}Report page!{% endblock %}

{% block body %}
    <h1>Redovisning av kursmoment i kursen MVC</h1>
    <section>
        <h2 id="kmom01">
            <a href="#kmom01">Kmom01</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom02">
            <a href="#kmom02">Kmom02</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom03">
            <a href="#kmom03">Kmom03</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom04">
            <a href="#kmom04">Kmom04</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom05">
            <a href="#kmom05">Kmom05</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom06">
            <a href="#kmom06">Kmom06</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <section>
        <h2 id="kmom07/10">
            <a href="#kmom07/10">Kmom07/10</a>
        </h2>
        <p>Här är redovisningstexten.</p>
    </section>
    <p>Här samlar du dina redovisningstexter för kursens kmom.
 Skapa även så att länken /report#kmom01 leder direkt till kursmomentets redovisningstext.</p>
{% endblock %}